body {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #202020;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #dadada;
}

.instructions {
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: left;
  width: 40vw
}

.specifyLink {
  padding-left: 10vw;
  padding-right: 10vw;
  width: 40vw;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}

#platformSelector {
  border: 2px solid #da0000;
  border-radius: .2em;
  background-color: #353535;
  height: 2.5em;
  width: 10em;
  font-size: 1em;
  color: #dadada;
  padding: 3px;
}

.inputField {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#fileName{
  border: 2px solid #da0000;
  border-radius: .2em;
  background-color: #353535;
  padding: 0;
  margin: 0;
  font-size: 15px;
  height: 2.5em;
  width: 40vw;
  color: #dadada;
}

#inputLinks {
  border: 2px solid #da0000;
  border-radius: .2em;
  background-color: #353535;
  padding: 0;
  margin: 0;
  font-size: 15px;
  height: 2.5em;
  width: 50vw;
  color: #dadada;
}

button {
  height: 2.5em;
  width: 7em;
  padding: 0;
  margin: 0;
  border: 2px solid #000000;
  border-radius: .2em;
  background-color: #da0000;
  color: #ffffff;
}

button:hover {
  border: 2px solid #da0000;
  background-color: #979797;
  color: #000000;
}

h1, h2 {
  color: #da0000;
}